.nutrition-table {
    width: 100%;
    max-width: 1299px; /* Maximum table width */
    background-color: #fff;
    margin: 10px 0;
    border-radius: 5px !important;
    text-decoration: none;
}

.nutrition-table th, .nutrition-table td {
    text-align: left;
    padding: 8px;
    /* border: 1px solid #ccc; Light grey border */
}

.nutrition-table th {
    background-color: #333;
}

.edit-facts-btn {
    width: 90px;
    height: 40px !important;
    position: relative;
    color: #333;
    border: 0;
    width: 89%;
}

.save-color {
    background-color: #FFCC00;
}