.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 17px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff1a1a;
}