.profile-input {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px !important;
}

.profile-input input {
    min-width: 400px;
}

.profile-input-width {
    margin: 10px;
}

.profile-input-user-name {
    margin: 15px;
    margin-right: 40px;
}

@media (max-width: 572px) {
    .profile-input input {
        min-width: 270px;
        margin-left: 14px !important;
    }

    .profile-input {
        display: block;
        text-align: center;
    }

    .profile-input-user-name {
        margin: 15px;
        margin-right: 0px;
    }
}

.profile-input input,
.profile-input textarea,
.profile-input select {
    transition: border-color 0.4s, box-shadow 0.4s;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #d4d4cf;
    outline: none;
}

.profile-input select {
    padding: 5px;
}

.profile-input input::placeholder {
    color: #807a63;
}

.profile-input button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    background-color: #ed6008;
    color: #221f1c;
    font-weight: 600;
    width: 100%;
    transition: ease-in 0.3s;
}

.profile-input button:hover {
    background-color: #b07731;
}

.profile-input label {
    color: #161614;
    font-weight: 600;
    margin-left: 4px;
    margin-bottom: 4px;
}

.profile-input input:focus,
.profile-input textarea:focus {
    border: none;
    box-shadow: 0 0 8px #a5591c;
}

.error-par {
    color: red;
    display: flex;
    justify-content: start;
    align-items: center;
}

.date {
    color: #ed6008;
    font-size: 18px;
}

.profile-info-line {
    margin: 0;
    margin-top: 40px;
    min-height: 5px !important;
    min-width: 900px;
    background-color: #161614;
    border: none !important;
}

@media (max-width: 910px) {
    .profile-info-line {
        min-width: 300px;
    }
}