.sidebar-toggler {
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: 15px;
    margin: 0;
    cursor: pointer;
    border-radius: 5px;
    max-width: 200px;
    min-width: 200px;
    position: relative;
    display: flex;
}

@media screen and (max-width: 1200px) {
    .sidebar-toggler {
        display: none;
    }
}

.sidebar-toggler:hover {
    background-color: #555;
    transform: scale(1.05);
}

.sidebar-toggler:active {
    background-color: #777;
    color: #ddd;
}