.categories-search {
    /* margin-top: 50px !important; */
    margin-left: 10px;
}

.category-from-nav {
    /* margin-left: 14px !important; */
}

.category-from-nav:first-child {
    margin-top: 10px !important;
}

.category-from-nav div {
    padding: 14px 20px !important;
    border: none !important;
    border-radius: 0 !important;
}

.category-from-nav div a {
    font-size: 14px;
    z-index: 1 !important;
}

/* .category-from-nav div:first-child {
    border-radius: 5px 5px 0 0 !important;
} */

#protein div {
    border-radius: 10px 0px 0 0 !important;
}

#pre-workout div {
    border-radius: 0 10px 0px 0 !important;
}

#promo div {
    border-radius: 0 0 0 10px !important;
}