.categories-search {
    margin-left: 10px;
}

.category-from-nav {
}

.category-from-nav:first-child {
    margin-top: 10px !important;
}

.category-from-nav div {
    padding: 12px 20px !important;
    border: none !important;
    border-radius: 0 !important;
}

.category-from-nav div a {
    font-size: 14px;
    z-index: 1 !important;
    display: inline-block;
    white-space: nowrap;
}

.category-from-nav div:first-child {
    border-radius: 5px 5px 0 0 !important;
}

.category-from-nav div:last-child {
    margin: 3px;
    border-radius: 5px 5px 5px 5px !important;
}