@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat+Alternates:wght@300&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Reddit+Mono:wght@200..900&family=Sometype+Mono:ital@1&display=swap');

.add-product-header {
    color: #1a1817;
    letter-spacing: -1px;
    margin-bottom: 30px;
    font-weight: bolder;
}

.add-product-input {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.add-product-input input, .add-product-input textarea {
    transition: border-color 0.4s, box-shadow 0.4s;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #efefea;
    outline: none;
}

.add-product-input input::placeholder {
    color: #807a63;
}

.add-product-input button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    background-color: #ed6008;
    color: #221f1c;
    font-weight: 600;
    width: 100%;
    transition: ease-in 0.3s;
}

.add-product-input button:hover {
    background-color: #b07731;
}

.add-product-input label {
    color: #161614;
    font-weight: 600;
    margin-left: 4px;
    margin-bottom: 4px;
}

.add-product-input input:focus, .add-product-input textarea:focus {
    border: none;
    box-shadow: 0 0 8px #a5591c;
}

.error-par {
    color: red;
    display: flex;
    justify-content: start;
    align-items: center;
}

.custom-file-upload {
    text-align: center;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #555;
}

.custom-file-upload:hover {
    background-color: #e9e9e9;
}

.remove-image {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #555;
    margin-right: 8px;
}

.remove-image:disabled {
    background-color: #f8cd98;
    cursor: not-allowed
}

.custom-file-upload:hover, .remove-image:hover {
    background-color: #e9e9e9;
}

#image-visual {
    width: 240px;
    height: 295px;
}

.category-header {
    font-size: 17px !important;
}

.specs-header {
    font-size: 17px !important;
}