.product-image {
    min-width: 180px;
    min-height: 180px;
    margin: auto;
    width: 100%;
    object-fit: cover;
}

.product-item-link {
    text-decoration: none;
    color: #1a1817;
}

.product-item {
    min-width: 215.99px;
    min-height: 331.99px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.product-item:hover {
    transform: scale(1.01);
}

.edit-btn {
    border: none;
    width: 100%;
    height: 50px;
    background-color: #FFCC00;
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-btn {
    border: none;
    width: 100%;
    height: 50px;
    background-color: #CC0000;
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-btn:hover, .delete-btn:hover {
    transform: scale(1.1);
}

.fallback-image {
    min-width: 180px;
    min-height: 180px;
    margin: auto;
    width: 100%;
    object-fit: cover;
    animation: fadeOut 2s ease-out forwards;
    opacity: 1;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}