.order-status-selector {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 40px;
    margin-right: 50px;
    max-width: 972px;
}

@media (max-width: 768px) {
    .order-status-selector {
        margin-left: 0;
        margin-right: 0;
    }
}

.option {
    background-color: #f5f3ef;
    padding: 12px 23px;
    margin: 0 1px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    transition: background-color 0.3s;
    font-weight: bold;
}

.option.selected {
    background-color: hsl(205, 100%, 81%);
}