.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    background-color: #bdb5b5; /* Dark grey background */
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pagination a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pagination a.active {
    background-color: #666; /* Lighter grey for the active page */
    color: white;
    border: none;
}

.pagination a:hover:not(.active) {background-color: #555;}

/* Styling for the arrows */
.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination-dots {
    font-weight: bold;
}