.search-bar input {
    transition: border-color 0.4s, box-shadow 0.4s;
    padding: 19px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #f5f3ef;
    border: 1px solid #efefea;
    outline: none;
}

.search-bar {
    width: 100%;
    margin-top: 10px;
    margin-left: 70px !important;
    margin-bottom: 10px;
    transition: border-color 0.4s, box-shadow 0.4s;
    padding: 13px !important;
    padding-right: 40px !important;
    padding-left: 20px !important;
    border-radius: 10px;
    background-color: #f5f3ef;
    border: 1px solid #efefea;
    outline: none;
}

@media screen and (min-width: 1400px) {
    .search-bar {
        margin-right: 80px;
        margin-left: 0px;
    }
}

.search-bar:focus {
    border: none;
    box-shadow: 0 0 8px #cf9236;
}

.search-bar-admin:focus {
    border: none;
    box-shadow: 0 0 8px #a8a0ed;
}

.search-bar input::placeholder {
    color: #989389;
    text-align: start;
}

.search-container {
    position: relative;
    width: 100%;
}

.search-bar {
    width: 100%;
    padding: 10px 40px 10px 10px;
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

@media screen and (max-width: 1399px) {
    .search-icon {
        right: 20px;
    }
}

@media screen and (min-width: 960px) {
    /* .search-bar {
        transition: border-color 0.4s, box-shadow 0.4s;
        padding: 25px 35px !important;
        margin-bottom: 10px;
        border-radius: 10px;
        background-color: #f5f3ef;
        border: 1px solid #efefea;
        outline: none;
    } */

    .button {
        width: 78px !important;
        height: 78px !important;
    }

    .nav-link {
        padding: 8px 35px;
        font-weight: bold;
    }
}