.container-err {
    text-align: center !important;
    background-color: #fff !important;
    padding: 20px !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.1) !important;
    border-radius: 8px !important;
    margin-bottom: 100px;
}

.wrong-header {
    color: #ff6347;
    margin-top: 290px;
    z-index: 1;
}

.trouble {
    color: #333;
}

.error-icon {
    width: 100px;
    margin: 20px 0;
}

.back-btn {
    margin-left: 50px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.back-btn:hover {
    background-color: #e55337;
}