.email-sender-btn {
    background-color: #f5f3ef;
    padding: 10px;
    border-radius: 0 !important;
    border: 1px solid #0000001a !important;
}

.email-sender-btn:hover {
    background-color: #ececec;
}

