dialog {
    border-radius: 0 !important;
    border: none;
    padding: 10px;
    animation: slide-up 0.3s ease-out forwards;
    overflow-y: auto;
    max-height: 450px;
    min-height: 300px;
}

.cart-modal {
    padding: 5px;
    padding-top: 0;
    margin: 0 auto;
}

.modal-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none !important;
    text-align: center;
    margin-top: 5px;
}

.modal-buttons button {
    white-space: nowrap;
    padding: 15px 25px;
    margin: 2px;
    color: white;
    background-color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none !important;
}

.checkout-btn {
    background-color: #555;
    border-radius: 5px;
}

.checkout-btn:hover {
    background-color: #606060;
}

.close-btn {
    background-color: #555;
    border-radius: 5px;
}

.close-btn:hover {
    background-color: #9c5454;
}


.cart-image {
    max-width: 100px;
    max-height: 100px;
    height: auto;
}

.product-cart-item {
    text-decoration: none;
    color: #1a1817;
    outline: none;
}

.add-counter {
    border: none;
    max-width: 40px;
    max-height: 40px;
    text-align: center;
    outline: none !important;
}

/* chrome, safari and edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* firefox */
/* input[type="number"] {
    -moz-appearance: textfield;
} */

#plus-btn,
#minus-btn {
    min-width: 30px;
    min-height: 30px;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-name {
    max-width: 150px;
    min-width: 100px;
}

.product-cart-line {
    min-width: 250px;
    max-width: 250px;
}

.close-cart-icon {
    cursor: pointer;
    font-size: 20px;
    cursor: pointer;
}

.clean-cart-icon {
    font-size: 20px;
    cursor: pointer;
    transition: 0.7s;
}

.clean-cart-icon:hover {
    color: rgb(194, 16, 16);
}