.brands-container {
    background: linear-gradient(to bottom, #f4f4f4, #bdb5b5);
    /* background: #e1e1e1; */
    width: 100% !important;
    padding: 39px;
}

.brands-title {
    text-align: center;
    color: #333;
}