.promo-row {
    font-weight: 400;
}

.active-promo {
    color: blue;
    display: flex;
    margin-left: 5px;
    font-weight: bold;
}

.non-active-promo {
    color: red;
}

.empty-field {
    font-size: 30px;
}