@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* the css below is for the whole app  */

body {
    overflow-x: hidden; /* Hides horizontal overflow across the entire body */
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* This prevents horizontal scrolling */
}