.newsletter {
    background-color: #bdb5b5;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-top: 0px;
}

.newsletter h3 {
    margin-bottom: 10px;
    color: #333;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
    border: none;
}

.newsletter-input {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
    outline: none;
    border: none;
}

.newsletter-input:focus {
    background-color: #efefef;
}

.newsletter-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
    cursor: pointer;
}

.newsletter-btn:hover {
    background-color: #333;
}