.cart-image {
    max-width: 190px;
    max-height: 190px;
    height: auto;
}

.product-cart-item {
    text-decoration: none;
    color: #1a1817;
    outline: none;
    display: flex;
}

.add-counter {
    border: none;
    max-width: 40px;
    max-height: 40px;
    text-align: center;
    outline: none !important;
}

/* chrome, safari and edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* firefox */
/* input[type="number"] {
    -moz-appearance: textfield;
} */

#plus-btn,
#minus-btn {
    min-width: 40px;
    min-height: 40px;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-name {
    max-width: 450px;
    min-width: 100px;
}

.product-cart-line {
    min-width: 150px;
    width: 100%;
    position: absolute;
    margin: -1px;
}

.close-cart-icon {
    cursor: pointer;
    font-size: 20px;
    cursor: pointer;
}

.clean-cart-icon {
    font-size: 20px;
    cursor: pointer;
    transition: 0.7s;
}

.clean-cart-icon:hover {
    color: rgb(194, 16, 16);
}

.cart-item {
    max-width: 474px;
    min-width: 100px;
}