.cart-image {
    max-width: 120px !important;
    max-height: 120px !important;
    height: auto;
    width: 100%;
}

.product-cart-item {
    text-decoration: none;
    color: #1a1817;
    outline: none;
    display: flex;
}

.add-counter {
    border: none;
    max-width: 40px;
    min-height: 40px;
    text-align: center;
    outline: none !important;
}

/* chrome, safari and edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* firefox */
/* input[type="number"] {
    -moz-appearance: textfield;
} */

#plus-btn,
#minus-btn {
    min-width: 40px;
    min-height: 40px;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-name {
    max-width: 450px;
    min-width: 100px;
}

.product-cart-line {
    min-width: 150px;
    width: 100%;
    position: absolute;
    margin: -15px;
}

.close-cart-icon {
    cursor: pointer;
    font-size: 20px;
    cursor: pointer;
}

.clean-cart-icon {
    font-size: 20px;
    cursor: pointer;
    transition: 0.7s;
}

.clean-cart-icon:hover {
    color: rgb(194, 16, 16);
}

.cart-item {
    max-width: 474px;
    min-width: 100px;
}

.item-price {
    max-width: 190px !important;
    min-width: 170px;
}

.delete-icon {
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.delete-icon:hover {
    color: rgb(156, 19, 19);
}

@media screen and (max-width: 635px) {
    .delete-icon {
        margin-left: 30px !important;
    }

    .cart-item {
        width: 100% !important;
    }
}

@media screen and (max-width: 576px) {
    .delete-icon {
        position: absolute;
        margin-left: 370px !important;
        margin-bottom: 90px !important;
    }

    .product-cart-item {
        position: relative;
    }
}

@media screen and (max-width: 425px) {
    .delete-icon {
        margin-left: 300px !important;
    }

    /* .product-cart-item {
        position: relative;
    } */
}

@media screen and (max-width: 350px) {
    .delete-icon {
        margin-left: 240px !important;
    }

    /* .product-cart-item {
        position: relative;
    } */
}

.promotion-box {
    width: 45px;
    height: 45px;
    background-color: #CC0000;
    position: absolute;
    display: flex;
    top: -10px;
    left: 95px;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    font-weight: bolder;
    color: white;
    z-index: 1;
    font-size: 17px;
    transition: 0.3s;
}