.cart-summary {
    color: #333;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    margin: 10px 0;
}

.total-price, .total-saved {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
}

@media (max-width: 600px) {
    .cart-summary {
        padding: 10px;
    }

    h2 {
        font-size: 1.2em;
    }

    .total-price, .total-saved {
        font-size: 1.2em;
    }
}

.remove-code-button {
    cursor: pointer;
    font-size: 21px !important;
    transition: 0.3s;
}

.remove-code-button:hover {
    color: crimson;
}