.category-item {
    white-space: nowrap;
    list-style: none;
    margin: 10px 10px !important;
    background: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.category-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.delete-icon {
    z-index: 1;
}

.delete-icon:hover {
    color: red;
}