.filter-options {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.newsletter-btn {
    border-radius: 0;
    padding: 10px 12px;
}